/* ProfilePage.css */
.profile-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}


.header-top .home-link {
  font-size: 18px;
  color: #007bff;
  text-decoration: none;
}

.profile-info {
  text-align: center;
}

.profile-name {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.profile-email {
  font-size: 18px;
  color: #777;
}

.profile-details {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.profile-details p {
  font-size: 18px;
  color: #555;
}

.edit-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #0056b3;
}

.profile-form label {
  font-weight: bold;
  margin-top: 10px;
}

.profile-form input,
.profile-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.save-btn, .cancel-btn {
  padding: 10px 20px;
  margin: 10px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-btn {
  background-color: #28a745;
  color: white;
}

.cancel-btn {
  background-color: #dc3545;
  color: white;
}

.save-btn:hover {
  background-color: #218838;
}

.cancel-btn:hover {
  background-color: #c82333;
}

/* Orders Section */
.order-section {
  margin-top: 40px;
}

.order-card {
  background-color: #f1f1f1;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.order-items-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.order-item-card {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.order-item-details {
  display: flex;
  align-items: center;
}

.order-item-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 15px;
}

.order-item-info {
  font-size: 16px;
  color: #333;
}

.order-item-info span {
  font-weight: bold;
}

.order-item-info {
  font-size: 14px;
  color: #777;
}
